<!--Created for trailhead-->
<apex:page id="DisplayUserInfo">
    <apex:pageBlock title="User Status">
        <apex:pageBlockSection columns="1">
            {! $User.FirstName}
            {! $User.LastName}
            {! $User.Username}
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>