<apex:page id="FeedbackCustomerPage" standardController="Feedback__c" showHeader="false">
    <apex:stylesheet value="{!URLFOR($Resource.Bootstrap, 'bootstrap-4.4.1-dist/css/bootstrap.min.css')}"/>

    <apex:includeScript value="{!URLFOR($Resource.jQuery)}"/>
    <apex:includeScript value="{!URLFOR($Resource.Bootstrap, 'bootstrap-4.4.1-dist/js/bootstrap.min.js')}"/>

    <div class="container mt-3">
        <apex:pageBlock >
            <apex:form styleClass="text-center">
                <apex:pageBlockSection columns="1"
                                       rendered="{! IF(feedback__c.Interviewer__r.Position__c == 'Technical Specialist', true, false)}">
                    <h4 class="m-auto">Technical Feedback</h4>
                    <apex:inputField styleClass="form-control mb-2 mt-2"
                            value="{! feedback__c.Tech_Skills_Feedback__c}"
                            id="techskillfeedback"
                            required="true"/>
                    <apex:inputField styleClass="form-control mb-2 mt-2"
                            value="{! feedback__c.Tech_Skills_Grade__c}" id="techskillgrade" required="true"/>
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="1"
                                       rendered="{! IF(feedback__c.Interviewer__r.Position__c == 'HR', true, false)}">
                    <h4 class="m-auto">Soft skills Feedback</h4>
                    <apex:inputField value="{! feedback__c.Soft_Skills_Feedback__c}"
                                     styleClass="form-control mb-2 mt-2"
                                     id="softkillfeedback"
                                     required="true"/>
                </apex:pageBlockSection>

                <apex:pageBlockSection columns="1">
                    <apex:inputField styleClass="form-check-input ml-1 mb-2"
                            style="margin-top:12px!important"
                            value="{! feedback__c.English_Level_Match__c}" id="englishmatch"/>
                    <apex:inputField styleClass="form-control mb-2 mt-2"
                            value="{! feedback__c.Notes__c}" id="notes"/>
                    <apex:inputField styleClass="form-control mt-2"
                            value="{! feedback__c.Summary__c}" id="summary" required="true"/>
                </apex:pageBlockSection>
                <apex:commandButton action="{! save}"
                                    style="background: #007bff; border-color: #007bff; color: #fff"
                                    styleClass="btn btn-primary mt-2 px-3" value="Submit"/>
            </apex:form>
        </apex:pageBlock>
    </div>

    <style>
        label {
            margin-top: 0.5rem;
        }
    </style>
</apex:page>